<div class="ui form segment">
  <h1>Sign-In</h1>
  <div class="two fields">
    <div class="field">
      <label>E-mail</label>
      <input type="text" id="email-sign-in"placeholder="E-mail@email.com">
    </div>

  <div class="field">
    <label>Password</label>
    <input id = "password-input" type="password">
  </div>

  <div class="ui submit button" id="sign-in-submit">Submit</div>
</div>
